<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <style>
        body {
            margin: 0;
        }

        .top-bar {
            display: flex;
            flex-direction: row;
            background-color: #3af;
            border-bottom: 2px solid black;
            position: absolute;
            width: 100%;
        }

        .top-bar * {
            margin: 5px 10px;
        }

        #draw {
            /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e1/Uppercut2.jpg'); */
            background-position: center;
            background-repeat: no-repeat;
            background-size: 40%;
            /* background-size: contain; */
            display: block;
            z-index: -1;
        }

        .videoSection{
            height: 100%;
            background-color: rgb(44, 44, 44);
        }

        .row{
            text-align: center;
            background-color: rgb(44, 44, 44);
            justify-content: center;
            padding-top: 20px;
            /* width: 100%; */
        }
        #glasscontainer{
            position: absolute;
            position: sticky;
            top: 10%;
            width: 100%;
            /* height: 500px;
            z-index: 1; */
        }
        #glass{
            position: absolute;
            position: sticky;
            top: 10%;
            width: 100%;
            height: 500px;
            background-color: black;
            color: white;
            opacity: 0.1;
            z-index: -1;
        }
        #videos{
            position: relative;
            top: -20%;
            /* position: absolute;
            top: 20%; */
        }
        iframe{
            margin-top: 100px;
        }
        #draw-toggler{
            position: absolute;
            left: 0;
            top: 100%;
            padding: 8px;
            width: 200px;
            height: 40px;
            background-color: red;
            color: white;
            text-align: center;
            cursor: pointer;
        }
        
    </style>

</head>
<body>
    
    <div class="top-bar">
        <button id="save-btn">Save</button>
        <button id="undo-btn">Undo</button>
        <button id="clear-btn">Clear</button>
        <input type="color" id="color-picker">
        <input type="range" id="brush-size" min="1" max="50" value="10">
        <select id="backgrounds">
            <option>Select basic demonstration</option>
            <option value="images/jab.png">Jab</option>
            <option value="images/cross.png">Cross</option>
            <option value="images/hook.png">Hook</option>
            <option value="images/uppercut.png">Uppercut</option>
            <option value="images/elbow.png">Elbow strike</option>
            <option value="images/knee.png">Knee strike</option>
            <option value="images/frontkick.png">Front kick</option>
            <option value="images/roundhouse.png">Roundhouse kick</option>
            <option value="images/tieup.png">Tie up</option>
            <option value="images/pummelclinch.png">Pummel clinch</option>
            <option value="images/doubleleg.png">Double leg</option>
            <option value="images/legtrip.png">Leg trip</option>
            <option value="images/rearnakedchoke.png">Rear naked choke</option>
            <option value="images/sidecontrol.png">Side control</option>
            <option value="images/trianglechoke.png">Triangle choke</option>
            <option value="images/kimura.png">Kimura</option>
            <option value="images/fullmount.png">Full mount</option>
            
            <!-- <option value="https://upload.wikimedia.org/wikipedia/commons/e/e1/Uppercut2.jpg">Uppercut</option>     -->
        </select>
    </div>

    <canvas id="draw"></canvas>

    <!-- <div class="videoSection">
        hello
        <div class="enterVideo">
            <h3>Search Youtube </h3>
        </div>
        <form action='/analysis' method='POST'>
            <div class="search row">
                <div class="col-md-4 col-1"></div>
                <div class="col-md-4 col-10">
                    <input type='text' id='searchbar' name='searchResult' placeholder='Search'>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-1"></div>
                <div class="col-md-4 col-10">
                    <button type='submit' id='searchbutton'>Search</button>
                </div>
            </div>
        </form>
        
    </div> -->

    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <form id="search-form" action="/analysis" method="POST">
                <p><input type="text" id="search" name="searchResult" placeholder="Type something..." autocomplete="off" class="form-control" /></p>
                <p><button type="submit" value="Search" class="form-control btn btn-primary w100">Search</button></p>
            </form>
            <div id="results"></div>

            <div id="glasscontainer">
                
            </div>
            <button id="drawmode" type="button" value="draw" class="form-control btn btn-primary w100">Draw Mode Toggle</button>
            
            <div id="glass">
                <button id="undo-btn">Undo</button>
                <input type="color" id="color-picker">
                <canvas id="draw" width="640" height="360"></canvas>
            </div>
            <div id="videos">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= videoId[0] %>" frameBorder="0" allowFullScreen></iframe>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= videoId[1] %>" frameBorder="0" allowFullScreen></iframe>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= videoId[2] %>" frameBorder="0" allowFullScreen></iframe>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= videoId[3] %>" frameBorder="0" allowFullScreen></iframe>
                
            </div>
        </div>
        <!-- <div id="draw-toggler">
            Draw Mode Toggle
        </div> -->
    </div>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <script>
        // toggle drawing board
        // $("#drawmode").click(function(){
        //     $("#glass").toggle(
        //         function(){$("#glass").css({"z-index": "1"});},
        //         function(){$("#glass").css({"z-index": "-1"});}
                
        //     );

        // });

        $("#drawmode").click(function(){
            if($("#glass").css("z-index")==-1){
                $("#glass").css("z-index", "1");
            }else{
                $("#glass").css("z-index", "-1");
            }
        });

        // background select
        var body = $('#draw');
        $('#backgrounds').bind('change', function(event){
            var bg = $(this).val();
            console.log(bg);
            if(bg == null || typeof bg === 'undefined' || $.trim(bg) === '')
                body.css('background-image', '');
            else
                body.css('background-image', "url('" + bg + "')");       
            
        });

        // canvas
        var canvas, ctx,
        brush = {
            x: 0,
            y: 0,
            color: '#000000',
            size: 10,
            down: false,
        },
        strokes = [],
        currentStroke = null;

        function redraw () {
            ctx.clearRect(0, 0, canvas.width(), canvas.height());
            ctx.lineCap = 'round';
            for (var i = 0; i < strokes.length; i++) {
                var s = strokes[i];
                ctx.strokeStyle = s.color;
                ctx.lineWidth = s.size;
                ctx.beginPath();
                ctx.moveTo(s.points[0].x, s.points[0].y);
                for (var j = 0; j < s.points.length; j++) {
                    var p = s.points[j];
                    ctx.lineTo(p.x, p.y);
                }
                ctx.stroke();
            }
        }

        function init () {
            canvas = $('#draw');
            canvas.attr({
                width: window.innerWidth,
                height: window.innerHeight,
            });
            ctx = canvas[0].getContext('2d');

            function mouseEvent (e) {
                brush.x = e.pageX;
                brush.y = e.pageY;

                currentStroke.points.push({
                    x: brush.x,
                    y: brush.y,
                });

                redraw();
            }

            canvas.mousedown(function (e) {
                brush.down = true;

                currentStroke = {
                    color: brush.color,
                    size: brush.size,
                    points: [],
                };

                strokes.push(currentStroke);

                mouseEvent(e);
            }).mouseup(function (e) {
                brush.down = false;

                mouseEvent(e);

                currentStroke = null;
            }).mousemove(function (e) {
                if (brush.down)
                    mouseEvent(e);
            });

            // $('#save-btn').click(function () {
            //     window.open(canvas[0].toDataURL());
            // });

            $('#undo-btn').click(function () {
                strokes.pop();
                redraw();
            });

            $('#clear-btn').click(function () {
                strokes = [];
                redraw();
            });

            $('#color-picker').on('input', function () {
                brush.color = this.value;
            });

            $('#brush-size').on('input', function () {
                brush.size = this.value;
            });
        }
        $(init);
    </script>
</body>
</html>