<!doctype html>
<html lang="en">
  <head>
    <title>Bam</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet'>

    <style>
        h5{
            text-align: center;
            margin-top: 20px;
        }
        .img1{
            position: relative;
            /* opacity: 0.8;  */
            /* background-position: center; */
            /* background-size: cover; */
            background-repeat: no-repeat;
            background-attachment: fixed;

        }
        .img1{
            opacity: 0.8;
            background-image: url('https://storage.googleapis.com/xebia-blog/1/2016/03/Japanese-martial-arts-wallpapers-HD-Wallpapers-Backgrounds-Judo.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
        .section{
            text-align: left;
            padding: 100px 300px;
            font-family:'Lato';
            font-size: 18px;
        }
        .section-dark{
            /* background-color: #282e34; */
            background-color: white;
            color: #282e34;
        }
        .img1-content{
            position: absolute;
            top: 80%;
            width: 100%;
            text-align: center;
            color: whitesmoke;
            font-family:'Arvo';
        }
        .display-5{
            color: black; 
            font-family: 'Arvo';
        }
        @media(max-width: 568px){
            .img1{
                background-attachment: scroll;
            }
        }
        @media(max-width: 1280px){
            .section{
                padding: 100px 100px;
            }
        }
        @media(max-width: 768px){
            .section{
                padding: 50px 50px;
            }
        }
        @media(max-width: 360px){
            .section{
                padding: 20px 20px;
            }
        }
        #cm{
            min-height: 100%;
            margin-top: 0px;
        }
        .feature-container{
            margin-top: 20px;
            display: flex;
            /* justify-content: center; */
            /* transform: translate(-3%, -3%); */
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        @media(max-width: 360px){
            .feature-container{
                transform: translate(-7%, -7%);
            }
        }
        .feature-container .cl{
            list-style: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .feature-container .cl .cla{
            width: 200px;
            height: 200px;
            background: #fff;
            text-align: center;
            line-height: 200px;
            /* vertical position of icon */
            font-size: 100px;
            margin: 0px 0px;
            display: block;
            /* border-radius: 50%; */
            position: relative;
            overflow: hidden;
            left: 0;
            z-index: 1;
        }
        .feature-container .cl .cla .fa{
            position: relative;
            color: #262626;
            transition: .5s;
        }
        .feature-container .cl .cla:hover .fa{
            color: #fff;
        }
        .feature-container .cl .cla:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: blueviolet;
            transition: .5s;
            /* z-index: 2; */
        }
        #feature-text{
            color: #282e34;
            margin: 20px;

        }
        .scroll{
            color: white; 
            font-size: 50px;
        }

    </style>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="img1">
        <div class="img1-content">
            
            <!-- <h1 class="display-5">Bam</h1>
            <hr style="width: 35%; height: 1px; background: blueviolet;">
            <h2 class="display-5"></h2> -->
            <a class="scroll" href="#cm"><i class="fa fa-angle-down"></i></a>
            
            
        </div>
    </div>
    
    <section id="cm" class="section section-dark">
        <h2>Features</h2>
        <br>
        <p>  <br> 
                <br>
            
        </p>
        <p></p>
        <div class="feature-container">
            <div>
                <li class="cl"><a class="cla" href="/analysis"><i class="fa fa-marker"></i></a></li>
            
            </div>
            <div id="feature-text">
                <h2 style="text-decoration: underline;">Analyze</h2>
                <p>and more</p>
            </div>
            
        </div>
        <div class="feature-container">
            <div>
                <li class="cl"><a class="cla" href="/discussion"><i class="fa fa-comments"></i></a></li>
            
            </div>
            <div id="feature-text">
                <h2 style="text-decoration: underline;">Discuss</h2>
                <p>and more</p>
            </div>
            
        </div>
        <div class="feature-container">
            <div>
                <li class="cl"><a class="cla" href="/stopwatch"><i class="fa fa-stopwatch"></i></a></li>
            
            </div>
            <div id="feature-text">
                <h2 style="text-decoration: underline;">Stopwatch</h2>
                <p>and more</p>
            </div>
            
        </div>
        <div class="feature-container">
            <div>
                <li class="cl"><a class="cla" href="/regimen"><i class="fa fa-file"></i></a></li>
            
            </div>
            <div id="feature-text">
                <h2 style="text-decoration: underline;">Regimen</h2>
                <p>and more</p>
            </div>
            
        </div>

    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <script> 
        var scrollLink = $('.scroll');

        scrollLink.click(function(e){
            e.preventDefault();
            $('body,html').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });

        $(window).scroll(function(){
            var scrollbarLocation = $(this).scrollTop();
            scrollLink.each(function(){
                var sectionOffset = $(this.hash).offset().top;
            })
        })
    </script>
  </body>
</html>