<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <style>

        .row{
            text-align: center;
            background-color: rgb(44, 44, 44);
            justify-content: center;
            /* padding-top: 20px; */
            /* width: 100%; */
            /* margin-top: -50px; */
        }
        #glass{
            position: absolute;
            position: sticky;
            top: -100px;
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            opacity: 0.2;
            z-index: -1;
        }
        #videos{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 21%;
            /* background-color: red; */
        }
        iframe{
            margin-top: 50px;
        }
        
    </style>

</head>
<body>

    <div class="row">
        
            <form id="search-form" action="/videoanalysis" method="POST">
                <p><input type="text" id="search" name="searchResult" placeholder="Search video for analysis" autocomplete="off" class="form-control" /></p>
                <p><button type="submit" value="Search" class="form-control btn btn-primary w100">Search</button></p>
            </form>

            <!-- <form id="search-form" class="form-inline my-2 my-lg-0" action="/videoanalysis" method="POST">
                <input class="form-control mr-sm-2" type="search" name="searchResult" placeholder="Search video for analysis" autocomplete="off" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            
            <button id="drawmode" type="button" value="draw" class="form-control btn btn-primary w100">Draw Mode Toggle</button>
            
            <div id="glass">
                <button id="undo-btn">Undo</button>
                <input type="color" id="color-picker">
                <canvas id="draw"></canvas>
                
            </div>
            <div id="videos">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= videoId[0] %>" frameBorder="0" allowFullScreen></iframe>
                
            </div>
        
    </div>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <script>
        // toggle drawing board
        // $("#drawmode").click(function(){
        //     $("#glass").toggle(
        //         function(){$("#glass").css({"z-index": "1"});},
        //         function(){$("#glass").css({"z-index": "-1"});}
                
        //     );

        // });

        $("#drawmode").click(function(){
            if($("#glass").css("z-index")==-1){
                $("#glass").css("z-index", "1");
            }else{
                $("#glass").css("z-index", "-1");
            }
            $("#search-form").toggle();

        });

        // canvas
        var canvas, ctx,
        brush = {
            x: 0,
            y: 0,
            color: '#000000',
            size: 10,
            down: false,
        },
        strokes = [],
        currentStroke = null;

        function redraw () {
            ctx.clearRect(0, 0, canvas.width(), canvas.height());
            ctx.lineCap = 'round';
            for (var i = 0; i < strokes.length; i++) {
                var s = strokes[i];
                ctx.strokeStyle = s.color;
                ctx.lineWidth = s.size;
                ctx.beginPath();
                ctx.moveTo(s.points[0].x, s.points[0].y);
                for (var j = 0; j < s.points.length; j++) {
                    var p = s.points[j];
                    ctx.lineTo(p.x, p.y);
                }
                ctx.stroke();
            }
        }

        function init () {
            canvas = $('#draw');
            canvas.attr({
                width: window.innerWidth,
                height: window.innerHeight,
            });
            ctx = canvas[0].getContext('2d');

            function mouseEvent (e) {
                brush.x = e.pageX;
                brush.y = e.pageY;

                currentStroke.points.push({
                    x: brush.x,
                    y: brush.y,
                });

                redraw();
            }

            canvas.mousedown(function (e) {
                brush.down = true;

                currentStroke = {
                    color: brush.color,
                    size: brush.size,
                    points: [],
                };

                strokes.push(currentStroke);

                mouseEvent(e);
            }).mouseup(function (e) {
                brush.down = false;

                mouseEvent(e);

                currentStroke = null;
            }).mousemove(function (e) {
                if (brush.down)
                    mouseEvent(e);
            });

            // $('#save-btn').click(function () {
            //     window.open(canvas[0].toDataURL());
            // });

            $('#undo-btn').click(function () {
                strokes.pop();
                redraw();
            });

            $('#clear-btn').click(function () {
                strokes = [];
                redraw();
            });

            $('#color-picker').on('input', function () {
                brush.color = this.value;
            });

            $('#brush-size').on('input', function () {
                brush.size = this.value;
            });
        }
        $(init);
    </script>
</body>
</html>